@import "../../../../../../color-palette";

:host {
  display: flex;
  max-height: 76vh;
}

.videos {
  height: auto;
}

.card-items-container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  overflow-y: auto;

  app-video-card-item {
    flex: auto;
    width: 350px;
    margin: 0 8px 8px 0;
  }

  app-video-card-item.sm {
    flex: auto;
    height: auto;
    width: 100%;
    margin: 0 0 8px 0;
  }
}

.layout-item-drag-preview {
  width: 50%;
}
