<header class="header_area">
  <div class="main_menu">
    <nav class="navbar  navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" [routerLink]="['/']"><img src="assets/logo.png" alt=""></a>


      </div>
    </nav>
  </div>
</header>
<div class="main-container">

  <mat-card style="width: 500px">

    <mat-card-header>
      <mat-card-title>New password</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form style="width: 100%; padding: 0" (keyup.enter)="onPasswordReset()"  [formGroup]="form"  class="login-form">


        <input
          style="border-radius: 5px"
          [ngClass]="{'error': this.form.controls['password'].errors && form.controls['password'].touched}"
          formControlName="password"
          name="password"
          class="full-width"
          autocomplete="new-password"
          type="password"
          placeholder="Password"
        />

        <span *ngIf="passwordLengthInvalid()" class="error-message">
          Password must contain at least 8 characters
        </span>

        <input
          style="border-radius: 5px"
          [ngClass]="{'error': this.form.controls['passwordConfirmation'].errors && form.controls['passwordConfirmation'].touched}"
          formControlName="passwordConfirmation"
          name="passwordConfirmation"
          class="full-width"
          autocomplete="new-repeat-password"
          type="password"
          placeholder="Repeat password"
        />

        <span *ngIf="passwordsDontMatch()" class="error-message">
          Passwords don't match
        </span>

      </form>

    </mat-card-content>
    <mat-card-actions align="start">
      <button [disabled]="!form.valid" (click)="onPasswordReset()" style="width: 100%" mat-flat-button color="accent" >RESET PASSWORD</button>
    </mat-card-actions>

  </mat-card>


</div>
