@import '../../../../color-palette.sass';

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: 100%;
  width: 100%;
  background: $dark-2;
}


mat-card {
  background: $dark-1;
  padding: 30px
}
