@import "../../../../color-palette";


/* font family
	============================================================================================ */
$title-font: 'Rajdhani', sans-serif;
$text-font: 'Roboto', sans-serif;


/* color variables
	============================================================================================ */
$title-color: $light-1;
$text-color: $light-2;
$black: $light-1;
$magnolia: $dark-1;
$magnolia-light: $dark-2;

$primary-color: $blue-1;


$link-color: $blue-1;
$white: $dark-1;
// $soapstone : #fff9f7;


/* google fonts
	============================================================================================ */
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');





