<div>
    <p>Hello {{name}},</p>

    <p>
        Thank you for signing up to Indexity.
    </p>

    <p>
        Before you can start annotating videos, we need you to verify your email address by clicking the button below:
        <a  href="{{link}}"
            target="_blank"
            style="background-color: #EEEEEE; padding: 8px 20px; margin: auto; text-decoration: none; font-weight: bold; border-radius: 5px; cursor: pointer"
        >Verify your email address</a>
    </p>

    <p>
        You can also copy and paste the following link in your favorite browser:<br/>
        <a href="{{link}}" target="_blank"><span style="text-align: center">{{link}}</span></a>
    </p>

    <p>Thank you.</p>
</div>
