<div>
    <p>Hi {{name}},</p>

    <p>
        A password reset has been requested for you account.
        If you didn't ask for this, you can ignore this email.
    </p>

    <p>
        If you want to reset your password tap on the button below:
        <a  href="{{link}}"
            target="_blank"
            style="background-color: #EEEEEE; padding: 8px 20px; margin: auto; text-decoration: none; font-weight: bold; border-radius: 5px; cursor: pointer"
        >Reset your password</a>
    </p>

    <p>
        You can also copy and paste the following link in your favorite browser:<br/>
        <a href="{{link}}" target="_blank"><span style="text-align: center">{{link}}</span></a>
    </p>

    <p>Thank you.</p>
</div>
